@use 'colors';

.app-dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  margin-top: 0px;

  img {
      width: 75%;
    }

  span {
    color: colors.$purple;
  }
}

